@model User

    <div class="LoginContainer">
        <div class="login">
            <form action="~/Home/TryLogin" method="post" enctype="multipart/form-data">

                <label for="Desc">Имя</label>
                <input type="text" name="Name" id="Name" required>

                <input type="submit" value="Войти" class="submit" />
            </form>
        </div>
    </div>

